.navbar-brand{
    font-size: 1.5rem !important;
    font-weight: 400 !important;
    letter-spacing: 1.15px !important;
}
.bg-primary {
    background-color: rgb(90 109 137) !important
}

p.small {
    line-height: 1.25;
}

li {
    padding-bottom: 10px;
}

h4 {
    padding-bottom: 10px;
}

h2 {
    padding-top: 60px;
    margin-top: -60px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    flex-grow: 1;
}

.card img{
    height: 120px; /* Fixed height */
    object-fit: cover; /* Crop to fit */
}
  